@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 14% 9%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 210 14% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 158 66% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 214 12% 12%;
    --input-border: 206 6% 23%;
    --ring: 158 66% 41%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .dark {
    --background: 210 14% 9%;
    --foreground: 0 0% 95%;
    --primary: 158 66% 41%;
    --primary-foreground: 0 0% 100%;
    --popover: 210 14% 9%;
    --popover-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 214 12% 12%;
    --input-border: 206 6% 23%;
    --ring: 158 66% 41%;
    --radius: 0.5rem;
    --accent: 214 12% 12%;
    --accent-foreground: 0 0% 98%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  /* Remove scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: hsl(var(--card));
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: hsl(var(--primary));
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}

/* =====  REACT PHONE NUMBER INPUT OVERRIDES */

.PhoneInputCountry {
  background-color: transparent;
  border-color: inherit;
  border-radius: inherit;
  padding: 7px;
  padding-right: 0;
}

.PhoneInputInput {
  outline: none;
  margin-left: 4px;
  background: transparent;
  font-size: inherit;
  font-weight: inherit;

  border-color: inherit;
  background-color: inherit;
  --tw-ring-offset-color: hsl(var(--background));
  border-radius: inherit;
  margin: 0;
  padding: 7px;
}

.PhoneInputInput:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  --tw-ring-color: hsl(var(--ring));
  --tw-ring-offset-width: 2px;
}

.PhoneInputInput::placeholder {
  color: inherit;
}
